<!DOCTYPE html>
<html>

<head>
    <title>Starraker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
        #canvas {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            image-rendering: pixelated;
            background-color: black;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <canvas id="canvas" width="100" height="100"></canvas>
        <div id="header-bar">
            <div><button type="button" id="shutdown" @click="triggerShutdown()">{{ ["Shutdown", "Really?", "Last
                    call?"][shutdownCalls.length] }}</button></div>
            <div><button type="button" id="toggle_cam" @click="capture('toggle_continuous')">Start</button></div>
            <div><a href="./cameraWebgui.html"><button type="button">Camera View</button></a></div>
        </div>
        <div id="footer-bar">
            <div v-if="stream?.attitude_estimation" title="Attitude estimation results">
                Stars:
                Tracked {{stream.attitude_estimation.n_matches}}
                Alignment error {{stream.attitude_estimation.alignment_error.toFixed(3)}}°
                Times {{stream.pre_processing_time}}ms, {{stream.attitude_estimation.processing_time}}ms
                {{stream.attitude_estimation.post_processing_time}}ms
                <div class="help">
                    The number of stars detected (encircled in red), the current alignment error of the startracker to
                    the celestial pole, and the time taken for each processing step (image processing, attitude
                    estimation, post processing).
                </div>
            </div>
            <div title="Packet size of the data stream">
                Packet size {{packet_size}}
            </div>
            <div title="Camera-axis alignment calibration settings">
                Calibration:
                <button type="button" @click="addToCalibration">
                    Add {{calibration_orientations > 0 ? `(${calibration_orientations})` : "" }}
                </button>
                <button type="button" @click="resetCalibration" v-if="calibration_orientations > 0">Clear</button>
                <button type="button" @click="calibrate" id="calibrate" v-if="calibration_orientations > 0">
                    Calibrate
                </button>
                <div class="help">
                    Calibrate the misaligment between the camera and the star tracker's rotational axis.
                    Rotate the camera around the axis and click add to add a sample.
                    At least 3 different orientations are needed for calibration.
                </div>
            </div>
            <div style="margin-left: auto;">
                <button type="button" @click="showHelp">?</button>
            </div>
        </div>
    </div>
    <script type="module">
        import { createApp } from './vue.esm-browser.prod.min.js'
        import AxisAlign from './axisAlign.js'
        createApp(AxisAlign).mount('#app')
    </script>
</body>

</html>
