<!DOCTYPE html>
<html>

<head>
    <title>Starraker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
        #image {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: contain;
            image-rendering: pixelated;
        }

        #canvas {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        #camera-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: black;
            color: red;
            font-family: 'Courier', monospace;
            font-size: 2em;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            background: repeating-linear-gradient(-45deg,
                    transparent,
                    transparent 0.1em,
                    #f004 0.1em,
                    #f004 0.2em);
            user-select: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div id="camera-overlay">No image captured</div>
        <img id="image" src="" alt="Image" :style="{ filter: `brightness(${view_settings?.brightness || 1})` }">
        <canvas id="canvas" width="100" height="100"></canvas>
        <div v-if="stream?.auto_calibrator?.active" id="matrix"></div>
        <div id="header-bar">
            <div>
                <div><button type="button" id="shutdown" @click="triggerShutdown()">
                        {{ ["Shutdown", "Really?", "Last call?"][shutdownCalls.length] }}
                    </button></div>
                <div><button type="button" id="toggle_settings" @click="toggleSettings()"
                        :class="{ active: viewSettings }">Settings</button></div>
                <div><button type="button" id="toggle_cam" @click="capture('ToggleContinuous')"
                        :class="{ active: cameraMode=='Continuous' }">
                        {{ cameraMode=='Continuous' ? "Stop" : "Start" }}
                    </button></div>
                <div><a href="./axisAlign.html"><button type="button">Align View</button></a></div>
            </div>
        </div>
        <div id="footer-bar">
            <div v-if="camera_settings && viewSettings" title="Camera exposure and resolution settings">
                Exposure
                <input type="number" step="1" v-model.number="exposureMs" @change="setSettings"
                    style="width: 4em" title="Exposure setting of the camera in milliseconds" /> ms
                Gain
                <input type="number" v-model.number="camera_settings.analogue_gain" @change="setSettings"
                    title="Analog gain setting of the camera" />
                Digital gain
                <select v-model.number="camera_settings.digital_gain" @change="setSettings"
                    title="Digital gain setting of the camera">
                    <option>1</option>
                    <option>2</option>
                    <option>4</option>
                </select>
                Binning
                <select v-model.number="camera_settings.binning" @change="setSettings"
                    title="Binning (combination of pixels)">
                    <option>1</option>
                    <option>2</option>
                    <option>4</option>
                    <option>8</option>
                </select>
                <div class="help">
                    <b>Camera settings</b><br>
                    Set camera exposure, gain, and binning settings to optimize the image quality.
                </div>
            </div>
            <div v-if="camera_settings && viewSettings" title="Camera acquisition controls">
                Capture
                <button type="button" @click="capture('Single')" title="Capture a single image">Single</button>
                <button type="button" @click="capture('Continuous')" title="Capture continuously">Continuous</button>
                <button type="button" @click="capture('Stop')" title="Halt continuous capture">Stop</button>
                <button type="button" @click="capture('Darkframe')"
                    title="Record a darkframe for noise compensation">Darkframe</button>
                <div class="help">
                    <b>Camera acquisition controls</b><br>
                    Capture a single image, start continuous capture, stop continuous capture, or record a darkframe for
                    noise compensation.
                    The darkframe is used to remove the static noise from the image due to imperfections of the sensor.
                    Attach the camera lid to record a darkframe.
                    Use continuous capture mode for normal operation.
                </div>
            </div>
            <div v-if="viewSettings" title="Auto camera calibration controls">
                Auto calibration
                <button type="button" @click="autoCalibration('Restart')">Restart</button>
                <button type="button" @click="autoCalibration('Discard')">Discard</button>
                <button type="button" @click="autoCalibration('Accept')">Accept</button>
                <div class="help">
                    <b>Auto Camera calibration</b><br>
                    Calibrate camera parameters automatically with the movement of stars.
                    Point the camera to the sky (equatorial area works best) and make sure it doesn't move (use a
                    tripod).
                    Start the calibration and wait for several minutes or hours. The camera will calibrate itself using
                    the movement of stars.
                    Longer calibration time yields a better calibration.
                    Click "Discard" to discard the calibration process.
                    Click "Accept" to use the calibrated parameters.
                </div>
            </div>
            <div v-if="attitude && viewSettings" title="Attitude estimation settings">
                Min matches <input type="number" value="40" v-model.number="attitude.min_matches" @change="setSettings"
                    size="1" />
                Pixel tolerance <input type="number" value="40" v-model.number="attitude.pixel_tolerance"
                    @change="setSettings" size="1" />
                Timeout (s) <input type="number" value="40" v-model.number="attitude.timeout_secs" @change="setSettings"
                    size="1" />
                <div class="help">
                    <b>Attitude estimation algorithm settings</b><br>
                    The minimum number of stars needed to calculate the attitude, the pixel tolerance for matching
                    stars,
                    and the timeout for the algorithm can be set here.
                </div>
            </div>
            <div v-if="viewSettings" style="flex-basis: 100%; height: 0;"></div>
            <div v-if="view_settings" title="Display controls for camera image">
                Display
                <button type="button" @click="toggleBrightness()">Brightness {{ view_settings.brightness }}x</button>
                <button type="button" @click="toggleCoordinateFrame()"
                    :class="{ active: view_settings.coordinate_frame }">Attitude</button>
                <button type="button" @click="toggleImageType()">Image type: {{ view_settings.image_type }}</button>
                <button type="button" @click="toggleImageTargetQuality()">
                    Image quality: {{ view_settings.target_quality_kb == 0 ? "PNG" : view_settings.target_quality_kb + "kB" }}</button>
                <div class="help">
                    <b>Display settings</b><br>
                    The UI brightness of the image can be adjusted, and the star detection overlay can be toggled on and
                    off.
                </div>
            </div>
            <div v-if="stream?.attitude_estimation" title="Attitude estimation results">
                Tracked: {{stream.attitude_estimation.n_matches}}
                Times: {{stream.pre_processing_time}}ms, {{stream.attitude_estimation.processing_time}}ms,
                {{stream.attitude_estimation.post_processing_time}}ms
                <div class="help">
                    <b>Attitude estimation results</b><br>
                    The number of stars detected (encircled in red), and the time taken for each processing step (image
                    processing, attitude estimation, post processing).
                </div>
            </div>
            <div v-if="stream" title="Packet size of data streams">
                Packet size: data: {{packet_size}} image: {{image_size}} ({{image_quality}})
            </div>
            <div style="margin-left: auto;">
                <button type="button" @click="toggleFullscreen">
                    {{ fullscreen ? 'Windowed' : 'Fullscreen' }}
                </button>
                <button type="button" @click="showHelp">?</button>
            </div>
        </div>
    </div>
    <script type="module">
        import { createApp } from './vue.esm-browser.prod.min.js'
        import CameraWebgui from './cameraWebgui.js'
        createApp(CameraWebgui).mount('#app')
    </script>
</body>

</html>
