body {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Consolas, monospace;
    background-color: #111;
    font-size: 0.8em;
    color: red;
}

#footerBar {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #00000080;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#footerBar::after:hover {
    color: white;
}

#footerBar div {
    line-height: 2em;
    margin: 0 1em;
}

#footerBar div {
    line-height: 2em;
    margin: 0 1em;
}

input[type=number] {
    width: 3em;
    font-family: Consolas, monospace;
    color: inherit;
    border: 2px solid currentColor;
    background-color: #0000;
}

button[type=button] {
    font-family: Consolas, monospace;
    color: inherit;
    border: 2px solid currentColor;
    border-radius: 4px;
    background-color: #0000;
    margin: 0 0.25em
}

button[type=button]:hover {
    border-color: white;
    color: white;
}

button[type=button]:active {
    border-color: rgb(182, 182, 182);
    color: rgb(201, 201, 201);
}

button[type=button].active {
    background-color: red;
    color: black;
}

input.error {
    background: repeating-linear-gradient(-45deg,
            transparent,
            transparent 0.1em,
            #f004 0.1em,
            #f004 0.2em);
}

select {
    width: 3em;
    font-family: Consolas, monospace;
    color: inherit;
    border: 2px solid currentColor;
    background-color: #0000;
}

#view {
    position: fixed;
    top: 1em;
    right: 1em;
}

#view a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 1em;
    text-align: center;
    border: 2px solid currentColor;
    border-radius: 5px;
    background-color: black;
}

#view a:hover {
    color: white;
    border-color: white;
}

.help {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid currentColor;
    padding: 1em;
    display: none;
    background-color: #000000e0;
    color: red
}

.help::before {
    content: "Help (click to go to next page)";
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}

.sine-blinking {
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
        color: white;
    }
}
