body {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Consolas, monospace;
    background-color: #111;
    font-size: 0.8em;
    color: red;
}

[v-cloak] {
  display: none;
}

a {
    color: inherit;
}

#footer-bar {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #000000b0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#footer-bar::after:hover {
    color: white;
}

#footer-bar div {
    line-height: 2em;
    margin: 0 1em;
}

#footer-bar div {
    line-height: 2em;
    margin: 0 1em;
}

#header-bar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#header-bar div {
    margin: 1em;
}

#header-bar button {
    padding: 1em;
}

input[type=number] {
    width: 3em;
    font-family: Consolas, monospace;
    color: inherit;
    border: 2px solid currentColor;
    background-color: #000000b0;
}

button[type=button] {
    font-family: Consolas, monospace;
    color: inherit;
    border: 2px solid currentColor;
    border-radius: 4px;
    background-color: #000000b0;
    margin: 0 0.25em;
    user-select: none;
}

button[type=button]:hover {
    border-color: white;
    color: white;
}

button[type=button]:active {
    border-color: rgb(182, 182, 182);
    color: rgb(201, 201, 201);
}

button[type=button].active {
    background-color: red;
    color: black;
}

input.error {
    background: repeating-linear-gradient(-45deg,
            transparent,
            transparent 0.1em,
            #f004 0.1em,
            #f004 0.2em);
}

select {
    width: 3em;
    font-family: Consolas, monospace;
    color: inherit;
    border: 2px solid currentColor;
    background-color: #000000b0;
}

.help {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid currentColor;
    padding: 1em;
    display: none;
    background-color: #000000b0;
    color: red
}

.help::before {
    content: "Help (click to go to next page)";
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}

.sine-blinking {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        color: white;
    }
}

#matrix {
    position: fixed;
    left: 1em;
    top: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #000000b0;
}

.pending {
    background: repeating-linear-gradient(-45deg,
            transparent,
            transparent 0.3em,
            color-mix(in srgb, currentColor 25%, transparent) 0.3em,
            color-mix(in srgb, currentColor 25%, transparent) 0.5em);
}
